/* adminmainsubmenu.module.css */

/* 서브메뉴 컨테이너 스타일 */
.sidebar {
  position: fixed; /* 화면에 고정 */
  top: 2rem; /* 상단 2rem 위치 */
  left: 2rem; /* 좌측 2rem 위치 */
  width: 15rem; /* 서브메뉴 너비 */
  background-color: #ffffff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); /* 그림자 */
  padding: 2rem; /* 패딩 */
  border-radius: 8px;
  height: calc(100vh - 8rem); /* 전체 화면 높이에서 상하 패딩 4rem을 뺀 값 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 제목 스타일 */
.title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem; /* 제목과 메뉴 간의 간격 */
  color: #333;
}

/* 메뉴 리스트 스타일 */
.menuList {
  list-style: none;
  padding: 0;
  margin: 5rem;
}

/* 메뉴 항목 스타일 */
.menuItem {
  margin: 0.5rem 0; /* 메뉴 항목 간의 간격 */
}

/* 메뉴 버튼 스타일 */
.menuButton {
  text-decoration: none;
  color: #333;
  /* padding: 0.75rem 1rem; 패딩을 em 단위로 조정 */
  margin: 2.5rem;
  padding-bottom: 0.5rem;
  display: block;
  background-color: #fff;
  /* box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1); 그림자 */
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.2rem; /* 폰트 크기 설정 */
  width: 6rem;
}

.menuButton:hover {
  border-bottom: 1px solid gray;
  transform: translateY(-5px);
  /* background-color: #ddd; */
  color: #000;
}
