.container {
  font-family: "Noto Sans KR";
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0;
  padding-top: 80px;
  overflow: hidden;
  width: 100%;
}

.menu_bar {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 1rem 0rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.menu_bar > .logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20rem;
  margin-right: 4rem;
}

.menu_bar > .logo > img {
  width: 4.5rem;
  height: 3.2rem;
  line-height: 3.2rem;
  cursor: pointer;
}

/* .menu_bar > .menu_item {
    min-width: fit-content;
    width: 8rem;
    text-align: center;
    margin: 0 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 0.3rem 0.6rem;
}

.menu_bar > .menu_item:first-child {
    margin-left: 30rem;
}

.menu_bar > .menu_item:hover {
    background-color: #f0f0f0;
} */

.menu_bar > .buttons {
  display: flex;
  min-width: fit-content;
  margin-left: 20rem;
  margin-right: 20rem;
}

.menu_bar > .buttons > button {
  font-family: "Noto Sans KR";
  color: var(--primary-color);
  margin-left: 0.6rem;
  padding: 0.3rem 1.5rem;
  border: 1.5px solid var(--primary-color);
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  font-size: 1rem;
}

.menu_bar > .buttons > .signup {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color: #4682b4;
  color: white;
  margin: 5px;
  padding: 10px;
  flex: 1 1 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.large-item {
  flex: 2 1 60%;
  height: 200px;
}

.footer {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
}

.menu_bar > .buttons > button:hover {
  opacity: 0.8;
}

/* 네비게이션바 스타일 */
.menu {
  display: flex;
}

.menu_item {
  color: black;
  font-weight: 600;
  padding: 15px 25px;
  position: relative;
  min-width: fit-content;
  width: 7rem;
  text-align: center;
  margin: 0 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.3rem 0.6rem;
}

.menu_item:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #4ea6863d;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.menu_item:hover:after,
.menu_item:focus:after {
  height: 3px;
  width: 100%;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .menu_bar {
    width: 100vw;
    justify-content: space-between; /* Adjust to space out logo and hamburger */
  }

  .menu_bar > .logo {
    margin-left: 1rem;
    margin-right: auto;
  }

  .menu_bar > .buttons {
    display: none;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .menu_item {
    width: 100%;
    text-align: left;
    padding: 1rem;
  }

  .menu_bar > .hamburger {
    display: flex;
    margin-right: 2rem;
    cursor: pointer;
  }

  .menu.active .mobile_buttons{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .menu.active .mobile_buttons > button {
    font-family: "Noto Sans KR";
    color: var(--primary-color);
    margin-left: 0.6rem;
    padding: 0.3rem 1.5rem;
    border: 1.5px solid var(--primary-color);
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .menu.active .mobile_buttons > .signup {
    background-color: var(--primary-color);
    color: white;
    border: none;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
}

.hamburger div {
  width: 2rem;
  height: 0.25rem;
  background-color: black;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 10px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -10px);
}

.menu.active {
  display: flex;
  margin-top: 1rem;
}

.mobile_buttons{
  display: none;
}
