.container {
  display: flex;
  padding: 20px;
  align-items: baseline;
  width: 100%;
  margin-left: 40rem;
  height: 100vh;
}

.content {
  flex-grow: 1;
  /* border-left: 1px solid #e0e0e0; */
}

.sectionTitle {
  font-size: 24px;
  /* margin-left: 1.4rem; */
  font-size: 2rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
  width: 20rem;
}

.profileWrapper {
  display: flex;
  align-items: flex-start;
}

.profileImage {
  width: 150px;
  height: 150px;
  margin-right: 5rem;
}

.profileImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.form {
  flex-grow: 1;
}

.formGroup {
  margin-bottom: 20px;
  width: 40rem;
}

.formGroup > input {
  /* width: 20rem; */
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.textarea {
  height: 80px;
  resize: none;
}

/* 회원탈퇴 */

.accountDeletionContainer {
  padding: 20px;
  max-width: 38.8rem;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-left: 0;
}

.accountDeletionTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.accountDeletionInfoBox {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 14px;
}

.accountDeletionLink {
  color: #0073e6;
  text-decoration: none;
}

/* .accountDeletionLink:hover {
    text-decoration: underline;
} */

.accountDeletionCheckboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.accountDeletionCheckbox {
  margin-right: 10px;
}

.accountDeletionCheckboxLabel {
  font-size: 14px;
}

.accountDeletionButton {
  background-color: #ff6b6b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.accountDeletionButton:disabled {
  background-color: #ffcfcf;
  cursor: not-allowed;
}

.saveButton {
  background-color: #9bd3ff; /* 버튼 배경색 */
  color: white; /* 텍스트 색상 */
  padding: 10px 20px; /* 버튼 패딩 */
  border: none; /* 버튼 테두리 없음 */
  border-radius: 8px; /* 버튼 모서리 둥글게 */
  font-size: 16px; /* 텍스트 크기 */
  cursor: pointer; /* 커서 모양 포인터 */
  margin-bottom: 2rem;
  margin-left: 37rem;
}

.saveButton:hover {
  background-color: #7fc2ff; /* 호버 시 배경색 */
}

.saveButton:active {
  background-color: #6fb3ff; /* 클릭 시 배경색 */
}

.line {
  border: 1px solid #e0e0e0;
  width: 41.3rem;
  margin-bottom: 30px;
}
