.container {
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color);
}

.list_container {
  overflow-y: auto;
}

.no_data_msg {
  margin: 10rem 0;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--gray-2);
  /* text-shadow: 3px 3px 3px gray; */
}

.no_data_msg img {
  width: 7rem;
  margin: 2rem 0;
}
